<div id="page_wrapper"> 
  <div id="profile_image">
    <%= image_tag "profile.png" %> 
  </div>
  <div id="content"> 
    <h1>Hi user</h1> 
    <p>
      Helvetica butcher plaid PBR&B, drinking vinegar Etsy pug 3 wolf moon. Messenger bag organic you probably haven't heard of them, occupy meditation shabby chic roof party beard tote bag Banksy gluten-free. Master cleanse freegan banjo, selvage retro organic distillery semiotics deep v High Life Truffaut hoodie meditation tilde fap. Tote bag pug cardigan, fingerstache put a bird on it meh Marfa Carles artisan. Meggings butcher Truffaut, health goth photo booth polaroid sustainable you probably haven't heard of them kale chips mustache High Life synth organic cray paleo. Distillery McSweeney's biodiesel blog quinoa Tumblr occupy tousled, before they sold out Schlitz. Fap mlkshk occupy meh Pitchfork scenester.
    </p>
  </div>
</div>